<section class="py-5 text-center">

    <div class="container">

        <h1 class="display-2 fw-bold text-primary">
            Viksit Bharat Research Lab
        </h1>

        <p class="lead mt-4">
            Empowering Research, Artificial Intelligence,
            Innovation and Technology for a Better Tomorrow.
        </p>

        <div class="mt-4">

            <a href="{% url 'research' %}" class="btn btn-primary btn-lg me-3">
                Explore Research
            </a>

            <a href="{% url 'about' %}" class="btn btn-outline-primary btn-lg">
                Learn More
            </a>

        </div>

    </div>

</section>